{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block title %}Вход{% endblock %}

{% block account %}
<div class="container-fluid px-lg-5">
<h2>Вход</h2>
{% if user.is_authenticated %}
<p>Вы уже выполнили вход.</p>
{% else %}
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <input type="hidden" name="next" value="{{ next }}">
    {% buttons submit='Войти' %}{% endbuttons %}
</form>

<center>
    <a class="nav-link root" href="{% url 'main:register' %}">Регистрация</a>
    <a class="nav-link root" href="{% url 'main:password_reset' %}">Забыли пароль?</a>
</center>
</div>
{% endif %}
{% endblock %}